<aside class="w-52 bg-gray-100 p-5 space-y-5">
    <div>
        <a href="/guide/introduction">Introduction</a>
    </div>
    <div>
        <p class="uppercase text-sm font-bold">Best Practices</p>
        <ul>
            <li><a>Fake Link 1</a></li>
            <li><a>Fake Link 2</a></li>
            <li><a>Fake Link 3</a></li>
        </ul>
    </div>
    <div>
        <p class="uppercase text-sm font-bold">Installation</p>
        <ul>
            <li><a>Fake Link 1</a></li>
            <li><a>Fake Link 2</a></li>
            <li><a>Fake Link 3</a></li>
        </ul>
    </div>
    <div>
        <p class="uppercase text-sm font-bold">Resources</p>
        <ul>
            <li><a>Fake Link 1</a></li>
            <li><a>Fake Link 2</a></li>
            <li><a>Fake Link 3</a></li>
        </ul>
    </div>
</aside>
