<aside
    class="fixed inset-0 top-[3.5rem] w-48 p-5 space-y-5 overflow-y-auto overscroll-contain bg-blue-100"
>
    <div>
        <a href="/guide/introduction">Introduction</a>
    </div>
    <div>
        <p class="uppercase text-sm font-bold">Getting Started</p>
        <ul>
            <li>
                <a href="/guide/getting-started/what-is-jest"
                    >What is Jest?</a
                >
            </li>
            <li>
                <a href="/guide/getting-started/installation"
                    >Installation</a
                >
            </li>
            <li>
                <a href="/guide/getting-started/why-unit-test"
                    >Why Unit Test?</a
                >
            </li>
        </ul>
    </div>
    <div>
        <p class="uppercase text-sm font-bold">Installation</p>
        <ul>
            <li><a>Fake Link 1</a></li>
            <li><a>Fake Link 2</a></li>
            <li><a>Fake Link 3</a></li>
        </ul>
    </div>
    <div>
        <p class="uppercase text-sm font-bold">Resources</p>
        <ul>
            <li><a>Fake Link 1</a></li>
            <li><a>Fake Link 2</a></li>
            <li><a>Fake Link 3</a></li>
        </ul>
    </div>
</aside>
