<!DOCTYPE html>
<html lang="en-us">
    {% include 'head.njk' %}
    <body>
        {% include 'navbar.njk' %}
        <div class="relative z-20 flex flex-row overflow-hidden">
            {% include 'sidebar.njk' %}
            <div class="flex-1">
                <main class="relative z-20 ml-48 p-5">
                    {{ content | safe }}
                </main>
                {% include 'footer.njk' %}
            </div>
        </div>
        <script defer src="/alpine.js?v={% version %}"></script>
    </body>
</html>
