<!DOCTYPE html>
<html lang="en-us">
    <head>
        {% include 'head.njk' %}
    </head>
    <body>
        <navbar> Navbar </navbar>
        <div>
            <aside>{% include 'sidebar.njk' %}</aside>
            <main class="bg-gray-300">{{ content | safe }}</main>
        </div>
        <footer>{% include 'footer.njk' %}</footer>
        <script defer src="/alpine.js?v={% version %}"></script>
    </body>
</html>
